.container {
  position: relative;
  width: 100%;
}

.cover-text {
  position: absolute;
  top: 8px;
  left: 16px;
}

.cover-text span{
  color: rgb(125,138,198);
  letter-spacing: -1px;
  background-color: rgb(125,138,198);
  background-color: rgba(125,138,198, 0.2);
  padding: 10px;
}